.home
  .home__left
    .home__left--upper
      .picture
      .picture
      .picture
    .home__left--center
      .picture
      .picture
      .picture
    .home__left--under
      .picture
      .picture
      .picture
  .home__right
    .home__right--upper
      .home__right--upper__logo TABISPO
      .home__right--upper__text 「旅の思い出を共有しよう」
      .home__right--upper__email メールアドレス
      .home__right--upper__input
      .home__right--upper__pass パスワード
      .home__right--upper__input
      .home__right--upper__btn ログイン
    .home__right--under
      .home__right--under__text アカウントをお持ちでないですか？
      .home__right--under__btn 新規作成
  