.home
  .home__left
    .home__left--upper
      .picture
      .picture
      .picture
    .home__left--center
      .picture
      .picture
      .picture
    .home__left--under
      .picture
      .picture
      .picture
  .home__right
    .home__right--upper
      .home__right--upper__logo TABISPO
      .home__right--upper__text 「旅の思い出を共有しよう」
      .home__right--upper__email メールアドレス
      .home__right--upper__input
      .home__right--upper__pass パスワード
      .home__right--upper__input
      = link_to 'ログイン', new_user_session_path, class: "home__right--upper__btn"
    .home__right--under
      .home__right--under__text アカウントをお持ちでないですか？
      = link_to '新規作成', new_user_registration_path, class: "home__right--under__btn"

  