.wrapper
  = render "header"

  .index
    .index__frame
      .index__frame__map
      .index__frame__photo
        .index__frame__photo__data
        .index__frame__photo__data
        .index__frame__photo__data
        .index__frame__photo__data
        .index__frame__photo__data
        .index__frame__photo__data